Repository BusyModernPeople/Galapagos-iOS, pull requests merged in 2023-06, with the labels that each got.

#9 💄UI: #5 - SitiUIKit에 있는 버튼 테스트
  Galapagos/Sources/Presenter/Auth/SignIn/SignInViewController.swift
  Galapagos/Sources/Presenter/Common/Base/BaseViewController.swift
  Galapagos/Sources/Presenter/Common/Extension/UIView+.swift
Labels: 💄 Ui

#12 💄UI: #5 - 로그인 메인페이지 UI 제작
  Galapagos/Resources/Assets.xcassets/etc/Contents.json
  Galapagos/Resources/Assets.xcassets/etc/sns_Apple.imageset/Contents.json
  Galapagos/Resources/Assets.xcassets/etc/sns_Apple.imageset/sns_Apple.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Apple.imageset/sns_Apple@2x.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Apple.imageset/sns_Apple@3x.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Google.imageset/Contents.json
  Galapagos/Resources/Assets.xcassets/etc/sns_Google.imageset/sns_Google.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Google.imageset/sns_Google@2x.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Google.imageset/sns_Google@3x.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Kakao.imageset/Contents.json
  Galapagos/Resources/Assets.xcassets/etc/sns_Kakao.imageset/sns_Kakao.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Kakao.imageset/sns_Kakao@2x.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Kakao.imageset/sns_Kakao@3x.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Naver.imageset/Contents.json
  Galapagos/Resources/Assets.xcassets/etc/sns_Naver.imageset/sns_Naver.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Naver.imageset/sns_Naver@2x.png
  Galapagos/Resources/Assets.xcassets/etc/sns_Naver.imageset/sns_Naver@3x.png
  Galapagos/Sources/Presenter/Auth/SignIn/SignInViewController.swift
  Galapagos/Sources/Presenter/Common/Base/BaseViewController.swift
Labels: Auth

#15 ✨Feat: #14 - action에 따른, 이메일 회원가입&로그인 페이지 이동
  Galapagos/Sources/Presenter/Auth/Coordinator/AuthCoordinator.swift
  Galapagos/Sources/Presenter/Auth/EmailSignIn/EmailSignInViewController.swift
  Galapagos/Sources/Presenter/Auth/EmailSignIn/EmailSignInViewModel.swift
  Galapagos/Sources/Presenter/Auth/EmailSignUp/EmailSignUpViewController.swift
  Galapagos/Sources/Presenter/Auth/EmailSignUp/EmailSignUpViewModel.swift
  Galapagos/Sources/Presenter/Auth/SignIn/SignInViewController.swift
  Galapagos/Sources/Presenter/Auth/SignIn/SignInViewModel.swift
  Galapagos/Sources/Presenter/Auth/SignUp/SignUpViewController.swift
Labels: Auth

#18 🔨 Refactor: #8 - MainCoordinator .detailDiary Flow
  Galapagos/Sources/Presenter/TabBar/Main/Coordinator/MainCoordinator.swift
Labels: Tabbar

#19 💄 Ui: #17 - Font, tintColor 설정
  Galapagos/Sources/Presenter/TabBar/CustomTabBarController.swift
Labels: 💄 Ui

#24 🔨 Refactor: #8 - 이니셜라이져 표기 변경
  Galapagos/Sources/Presenter/TabBar/Coordinator/TabBarCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/CustomTabBarController.swift
  Galapagos/Sources/Presenter/TabBar/Main/Coordinator/MainCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/Main/MainViewController.swift
Labels: 🔨 Refactor

#28 🚑 Fix: #8 - MainViewController setConstraint() 누락
  Galapagos/Sources/Presenter/TabBar/Main/MainViewController.swift
Labels: 🚑 Fix, Tabbar

#29 🔨 Refactor: #8 - 디자인 가이드 준수
  Galapagos/Sources/Presenter/TabBar/Diary/Coordinator/DiaryCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/Diary/DiaryListViewController.swift
  Galapagos/Sources/Presenter/TabBar/Diary/DiaryListViewModel.swift
  Galapagos/Sources/Presenter/TabBar/Main/MainViewModel.swift
  Galapagos/Sources/Presenter/TabBar/Mypage/Coordinator/MyPageCoordinator.swift
Labels: 🔨 Refactor, 📝 Chore, Tabbar

#35 Tabbar flow/g 34 탭바 coordinator 경로 수정
  Galapagos/Sources/App/AppCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/CommunityList/CommunityList/CommunityListViewModel.swift
  Galapagos/Sources/Presenter/TabBar/CommunityList/Coordinator/CommunityCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/CommunityList/Post/Coordinator/DetailPostCoordinating.swift
  Galapagos/Sources/Presenter/TabBar/Coordinator/TabBarCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/Diary/AddDiary/AddDiary/AddDiaryViewController.swift
  Galapagos/Sources/Presenter/TabBar/Diary/AddDiary/AddDiary/AddDiaryViewModel.swift
  Galapagos/Sources/Presenter/TabBar/Diary/AddDiary/Coordinator/AddDiaryCoordinating.swift
  Galapagos/Sources/Presenter/TabBar/Diary/AddDiary/Coordinator/AddDiaryCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/Diary/AddPet/AddPet/AddPetViewController.swift
  Galapagos/Sources/Presenter/TabBar/Diary/AddPet/AddPet/AddPetViewModel.swift
  Galapagos/Sources/Presenter/TabBar/Diary/AddPet/Coordinator/AddPetCoordinating.swift
  Galapagos/Sources/Presenter/TabBar/Diary/AddPet/Coordinator/AddPetCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/Diary/Coordinator/DiaryCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/Diary/Coordinator/DiaryListCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/Diary/DetailDiary/Coordinator/DetailDiaryCoordinating.swift
  Galapagos/Sources/Presenter/TabBar/Diary/DetailDiary/Coordinator/DetailDiaryCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/Diary/DetailDiary/DetailDiary/DetailDiaryViewController.swift
  Galapagos/Sources/Presenter/TabBar/Diary/DetailDiary/DetailDiary/DetailDiaryViewModel.swift
  Galapagos/Sources/Presenter/TabBar/Diary/Diary/DiaryListViewController.swift
  Galapagos/Sources/Presenter/TabBar/Diary/Diary/DiaryListViewModel.swift
  Galapagos/Sources/Presenter/TabBar/Diary/DiaryListViewController.swift
  Galapagos/Sources/Presenter/TabBar/Diary/DiaryListViewModel.swift
  Galapagos/Sources/Presenter/TabBar/Main/Coordinator/MainCoordinator.swift
  Galapagos/Sources/Presenter/TabBar/Main/Main/MainViewController.swift
  Galapagos/Sources/Presenter/TabBar/Main/Main/MainViewModel.swift
  Galapagos/Sources/Presenter/TabBar/Mypage/Mypage/MyPageViewModel.swift
  Galapagos/Sources/Presenter/TabBar/TabBar/CustomTabBarController.swift
Labels: ✨ Feat, 🚑 Fix, 🔨 Refactor, Tabbar

#38 Auth flow/g 37 이메일 회원가입 페이지 프로그래스 페이저 연결 작업
  Galapagos/Sources/App/AppCoordinator.swift
  Galapagos/Sources/Presenter/Auth/EmailSignUp/EmailSignUpViewController.swift
  Galapagos/Sources/Presenter/Auth/EmailSignUp/EmailSignUpViewModel.swift
  SiriUIKit/Sources/GalapagosProgressPager.swift
Labels: ✨ Feat, 💄 Ui, Auth
